<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">En</a>
    <div class="dropdown-content">
      <a href="#">ES</a>
      <a href="#">PT</a>
      <a href="#">ZH</a>
      <a href="#">FR</a>
      <a href="#">DE</a>
      <a href="#">JP</a>
      <a href="#">KO</a>
      <a href="#">RU</a>
    </div>
  </li>
  <li>Idioma</li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Can we help you?</a>
    <div class="dropdown-content">
      <a href="#">Contact us</a>
      <a href="#">Frequently Asked Questions</a>
      <a href="#">Share Your Experience With Us</a>
      <a href="#">Chat</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">How to arrive?</a>
    <div class="dropdown-content">
      <a href="#">Within Colombia</a>
      <a href="#">From Abroad</a>
    </div>
  </li>
  <li><a href="#meetings">Meetings</a></li>
  <li><a href="#holidays">Holidays</a>|</li>
</ul>
</div>
<br>
<br>
<div class="row">
  <!-- <div class="col-md-6"> -->

  <div class="topnav">
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Find your destination" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  <a href="https://www.instagram.com/colombia.travel/">insta</a>
  <a href="https://www.flickr.com/photos/colombia_travel/">flk</a>
  <a href="https://www.youtube.com/user/Colombiatravel">yt</a>
  <a href="https://twitter.com/colombia_travel">tw</a>
  <a href="https://www.facebook.com/Colombia.travel">fb</a>
<!-- </div> -->
</div>
</div>
