.row {
  float: right;
}
/*dropdowns*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*css for search bar*/

.topnav {
  overflow: hidden;
  background-color: white;
  float: right;
  width: 600px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 8.5px 14px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightblue;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.topnav input[type=text] {
  height: 40px;
  font-size: 14px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
