ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
}

li {
    float: right;
    font-size: 15px;
}
#holiday {
  font-size: 32px;
  padding-top: 20px;
}

li a, .dropbtn {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: orange;
    text-decoration: underline red;
}

li.dropdown {
    display: block;
}

.dropdown-content {
    font-size: 18px;
    display: none;
    background-color: white;
    position: static;
    width: 100%;
    box-shadow: white;
    z-index: 1;
}

.dropdown-content a {
    color: #be367a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
}
