<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Plan your Travel  0<i class="fa fa-heart" aria-hidden="true"></i></a>
    <div class="dropdown-content">
      <a href="#">Contact us</a>
      <a href="#">Frequently Asked Questions</a>
      <a href="#">Share Your Experience With Us</a>
      <a href="#">Chat</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Practical Information</a>
    <div class="dropdown-content">
      <a href="#">ES</a>
      <a href="#">PT</a>
      <a href="#">ZH</a>
      <a href="#">FR</a>
      <a href="#">DE</a>
      <a href="#">JP</a>
      <a href="#">KO</a>
      <a href="#">RU</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Fairs and Festivals</a>
    <div class="dropdown-content">
      <a href="#">Contact us</a>
      <a href="#">Frequently Asked Questions</a>
      <a href="#">Share Your Experience With Us</a>
      <a href="#">Chat</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Where to Go?</a>
    <div class="dropdown-content">
      <a href="#">Amazon</a>
      <a href="#">Andean</a>
      <a href="#">Caribbean</a>
      <a href="#">Orinoco</a>
      <a href="#">Pacific</a>
    </div>
  </li>
  <li><a href="#meetings">Discover Colombia</a></li>
  <li><a id="holiday" routerLink=""><i class="fa fa-home"></i></a></li>
</ul>
</div>
