<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Plan your Travel  0<i class="fa fa-heart" aria-hidden="true"></i></a>
    <div class="dropdown-content">
      <a href="#">Contact us</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Practical Information</a>
    <div class="dropdown-content">
      <a href="#">ES</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Experiences</a>
    <div class="dropdown-content">
      <a routerLink="new-experience">Share Your Experience</a>
      <a routerLink="experience">See Past Experiences</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Where to Go?</a>
    <div class="dropdown-content">
      <a href="#">Amazon</a>
    </div>
  </li>
  <li><a href="#meetings">Discover Colombia</a></li>
  <li><a id="holiday" href="#"><i class="fa fa-home"></i></a></li>
</ul>
</div>
