.header {
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  height: 100px;
}
.nav {
  height: 55px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
#admin {
  position: fixed;
  bottom: 0;
  float: left;
}
